<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/reservation">Accueil</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="authentificationService.isLoggedIn()">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"> <a routerLink="/reparationLumiere" class="nav-link">Reparation des lumières</a></li>
      <li class="nav-item"> <a routerLink="/abonnement" class="nav-link">Abonnements</a></li>
      <li class="nav-item"> <a routerLink="/changementPelouse" class="nav-link">Changement de pelouse</a></li>
      <li class="nav-item"> <a routerLink="/users" class="nav-link">Utilisateurs</a></li>
    </ul>
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item "> <a routerLink="/authentification" class="nav-link right" (click)="authentificationService.logout()">Log out</a></li>
    </ul>
  </div>
</nav>
<div class="container spacer">
  <router-outlet></router-outlet>
</div>
